<h1>Zip Weather-app</h1>

<%= form_with url: home_search_path, method: :post do |f| %>

<%= f.label :zipcode, "Código Postal" %>

<%= f.text_field :zipcode %>

<%= f.submit "Consultar" %>

<% end %>


<% if flash[:error] %>

<p style="color:red">
<%= flash[:error] %>
</p>

<% end %>



<h2>Información de ubicación</h2>

<p><b>Código postal:</b> <%= @zipcode %></p>

<p><b>Ciudad:</b> <%= @city %></p>

<p><b>Latitud:</b> <%= @lat %></p>

<p><b>Longitud:</b> <%= @lon %></p>


<h2>Clima actual</h2>

<p><b>Descripción:</b> <%= @description %></p>

<p><b>Temperatura:</b> <%= @temp %> °C</p>

<p><b>Sensación térmica:</b> <%= @feels_like %> °C</p>

<p><b>Amanecer:</b>
<%= @sunrise&.strftime("%H:%M") %>
</p>

<p><b>Atardecer:</b>
<%= @sunset&.strftime("%H:%M") %>
</p>

<p><b>Zona horaria:</b>
UTC <%= @timezone %>
</p>

